.plasmaContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

